.card-wrapper {
  text-align: center;
}

mat-card {
  max-width: 550px;
  padding: 0;
  display: inline-block;
}

mat-card-content {
  padding: 0 24px 24px;
}

img {
  border-bottom: 5px solid #c2185b;
}

mat-card-actions {
  margin: 0 !important;
}
